$darkerColor: #222831;
$darkColor: #393E46;
$lightColor: #00ADB5;
$lighterColor: #EEEEEE;

$padding1: 2px;
$padding2: 4px;
$padding3: 8px;
$padding4: 16px;
$padding5: 24px;
$padding6: 48px;
$padding7: 96px;

$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 22px;
$fontSize5: 26px;
$fontSize6: 32px;
$fontSize7: 36px;
$fontSize8: 60px;